- name: Check if filesystem exists on disk
  command: "blkid {{ base_storage_device }}"
  register: disk_fs
  failed_when: false
  changed_when: false

- name: Create filesystem only if not exists
  filesystem:
    fstype: "{{ __base_storage_filesystem }}"
    dev: "{{ base_storage_device }}"
  when: disk_fs.stdout == ""

- name: Ensure mount directory exists
  file:
    path: "{{ base_storage_mount_point }}"
    state: directory

- name: Mount the disk
  mount:
    path: "{{ base_storage_mount_point }}"
    src: "{{ base_storage_device }}"
    fstype: "{{ __base_storage_filesystem }}"
    state: mounted

- name: Persist in fstab
  mount:
    path: "{{ base_storage_mount_point }}"
    src: "{{ base_storage_device }}"
    fstype: "{{ __base_storage_filesystem }}"
    state: present
